{% extends "bootstrap/base.html" %}
{% block content %}


<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">Sentiment Analysis</a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
     <ul class="nav navbar-nav navbar-right">
       <li><a href="{{ url_for('index')}}"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Analysis</a></li>
       <li><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>


<div class="container" style="padding-top:80px">
<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Gender Classifier</div>
      <div class="panel-body">
      
<!-- Main Input For Receiving Query to our ML -->	
   <div class="row">
      <div class="col-sm-6">
         <form action="{{ url_for('predict')}}" method="POST">
         <div class="form-group">
         <textarea name="namequery" class="form-control" placeholder="untuk multi analisis pisahkan dengan tanda koma (,)"></textarea>
         <!-- <input type="text" name="namequery"> -->
         </br>
         <button type="submit" class="btn btn-primary">Predict</button>
         </div>
         </form>
      </div>
      <div class="col-sm-6">
         <form action="{{ url_for('upload_file')}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
               <input type="file" name="file" class="form-control">
               </br>
               <input type="submit" value="Upload" class="btn btn-primary">
            </div>
            
         </form>
      </div>
   </div>

<!-- Main Input For Receiving Query to our ML --> 

      </div>
    </div>
</div>
</div>



{% endblock %}

{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

